:root {
  --white: hsl(0, 0%, 100%);
  --primary-color: hsl(212, 45%, 89%);
  --secondary-color: hsl(216, 15%, 48%);
  --tertiary-color: hsl(218, 44%, 22%);
  --standard-shadow: hsl(0, 0%, 50%);
}
* {
  margin: 0;
  padding: 0;
}
html {
  font-family: "Outfit", sans-serif;
}
body {
  padding: 0;
  background-color: var(--primary-color);
  height: 100vh;
}
section,
main {
  height: 100%;
}

img {
  width: 100%;
  height: 65%;
  border-radius: 0.9375rem;
}
.pai {
  width: 100%;
  max-width: 18.75rem;
  min-height: 28.125rem;
  background-color: var(--white);
  padding: clamp(8px, calc(0.1877vw + 7.3px), 10px)
    clamp(12px, calc(0.2816vw + 10.95px), 15px)
    clamp(16px, calc(0.3755vw + 14.6px), 20px);
  box-shadow: 0px 3px 10px 0 var(--standard-shadow);
  border-radius: 0.9375rem;
}
.text {
  text-align: center;
  padding: 0.625rem;
  h1 {
    font-weight: 700;
  }
  p {
    font-size: 0.9375rem;
    font-weight: 400;
    color: var(--secondary-color);
  }
}
.background {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  position: absolute;
  bottom: 0.625rem;
  width: 100%;
  text-align: center;
}
