/*Default styles*/
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/*My styles*/

:root {
  --white: hsl(0, 0%, 100%);
  --primary-color: hsl(212, 45%, 89%);
  --secondary-color: hsl(216, 15%, 48%);
  --tertiary-color: hsl(218, 44%, 22%);
  --standard-shadow: hsl(0, 0%, 50%);
}
 body {
   background-color: var(--primary-color);
   font-size: 15px;
   font-family: 'Outfit', sans-serif;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100vh;
   margin: 0;
}
.card {
   background-color: var(--white);
   box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
   border-radius: 15px;
   width: 300px;
   padding: 20px;
   text-align: center;
}
.card img {
   width: 100%;
   border-radius: 10px;
}
.card h1 {
   font-size: 1.5rem;
   color: var(--tertiary-color);
}
.card p {
   font-size: 1rem;
   color: var(--secondary-color);
}
