:root {
  --white:hsl(0, 0%, 100%);
  --primary-color:hsl(212, 45%, 89%);
  --secondary-color:hsl(216, 15%, 48%);
  --tertiary-color:hsl(218, 44%, 22%);
  --standard-shadow:hsl(0, 0%, 50%);
}
* {
  margin: 0;
  padding: 0;
}
html {
  font-family: "Outfit", sans-serif;
}
body {
  padding: 0;
  background-color: var(--primary-color);
    height: 100vh;
}
section, main {
  height: 100%;
}

img {
  width: 100%;
  height: 65%;
  border-radius: 10px;
}
.pai {
  width: 300px;
  height: 450px;
  background-color: var(--white);
  padding: 10px 15px 20px 15px;
  box-shadow: 0px 3px 10px 0 var(--standard-shadow);
  border-radius: 15px;
}
.text {
 
  text-align: center;
  padding: 10px 10px 10px 10px;
  h2 {
    font-weight: 700;
  }
  p {
    font-size: 15px;
    font-weight: 400;
    color: var(--secondary-color);
  }
}
.background {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}